
@font-face {
    font-family: 'ralewayitalic';
    src: url('raleway-italic-webfont.woff2') format('woff2'),
    url('raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold-webfont.woff2') format('woff2'),
    url('raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.container{
    width:1200px;
    margin:0 auto;
    position: relative;
}
/* nagłówek */

header{
    background-color: black;
    color: white;
    /*height: 150px;*/
}

article{
    text-transform: uppercase;
}

.menu_link{
    text-decoration: none;
    display: block;
    color:white;
    margin: 10px;
    text-transform: uppercase;
}

.menu_list{
    list-style: none;
}

.menu_list_item{
    display: inline-block;
    position: relative;
    margin: 0 20px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.word{
    color:#00b3ff;
}

.nav_link{
    text-decoration: none;
    color: white;
}

.nav_list{
    list-style: none;
    position: absolute;
    border: 1px solid black;
    background-color: black;
    z-index: 2;

    display: none;
}

.nav_list_item{
    margin:10px;
}

.menu_list_item:hover > .nav_list{
    display: block;
}

/*sekcja 1*/

.black_chair{
    background-color: #eeeeee;
}


.text{
    display: flex;
    align-items: center;
    padding: 20px;
}

.text_picture{
    width: 40%;
}

.title{
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 30px;
}

.blue{
    color:#00b3ff;
}
.text_content{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px;
}

.lorem{
    text-align: center;
}

.more{
    border:1px solid #00b3ff;
    background-color: #00b3ff;
    color:white;
    text-align: center;
    text-decoration: none;
    width: 220px;
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
    display: flex;
    align-self: center;
    margin-top:30px;
}

.sign{
    font-size: 90px;
    color: #00b3ff;
    font-weight: bold;
    position: absolute;
    top:150px;
}

.sign1{
    font-size: 90px;
    color: #00b3ff;
    font-weight: bold;
    position: absolute;
    right:80px;
    top: 140px;
}

.two{
    display: flex;
    flex-direction: column;
}

.picture1{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}


.find{
    width: 350px;
    border:1px solid lightgray;
    padding: 20px;
    position: relative;
    margin-top: 20px;
    height: 250px;
}

.child .child1{
    margin-bottom: 50px;
}

.words1{
    margin-top:25px;
}

.words{
    margin-top: 25px;
}
.child_name{
    width: 330px;
    height: 50px;
    background-color: rgba(220,220,220,.6);
    bottom:60px;
    position: absolute;
}

.picture_chair{
    position: relative;
    margin-top: 20px;
}

.first_chair{
    color:black;
    text-decoration: none;
    margin-left: 10px;
    font-size: 15px;
    font-family: 'ralewaybold';
    font-weight: bold;
}
.first_chair:after{
    content: "";
    height: 10px;
    border-bottom:8px solid #00b3ff;
    position: absolute;
    top:10px;
    width: 150px;
    left: 0;
    margin-left: 10px;
}

.child_chair1{
    color:black;
    text-decoration: none;
    margin-left: 10px;
    font-size: 15px;
    font-family: 'ralewaybold';
    font-weight: bold;
}

.child_chair1:after{
    content: "";
    height: 10px;
    border-bottom:8px solid #00b3ff;
    position: absolute;
    top:10px;
    width: 150px;
    left: 0;
    margin-left: 10px;
}

.chair_child{
    position: relative;
    margin-top: 20px;

}

.child_chair{
    position: absolute;
    width: 330px;
    height: 50px;
    background-color: rgba(220,220,220,.6);
    bottom:60px;
}

h3:after{
    content: "";
    height: 10px;
    border-bottom:8px solid #00b3ff;
    position: absolute;
    top:40px;
    width: 150px;
    left: 0;
    margin-left: 20px;
}

h3{
    margin-top: 10px;
}

.circel{
    background-color: rgba(211,211,211,.3);
}

.box,.box1,.box2{
    height: 450px;
    width:25%;
    border:1px solid rgba(211,211,211,.5);
    position: relative;
    background-color: whitesmoke;
    margin-bottom: 60px;
}

.box{
    margin-left: 20px;
}

.box1{
    margin-right: 20px;
    background-color: #00b3ff;
}

.box_three{
    display: flex;
    justify-content: space-around;
    margin-top:80px;
    margin-bottom: 50px;
}

.circle,.circle2{
    position: absolute;
    background-color: grey;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(211,211,211,.5);
    border: 15px solid #fff;
    top: -26px;
    left: calc(50% - 26px);
}

.circle1{
    position: absolute;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #00b3ff;
    border: 15px solid #00b3ff;
    top: -26px;
    left: calc(50% - 26px);

}

.tekst,.tekst1,.tekst2{
    margin-top: 30px;
}

.basic,.basic1,.basic2{
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.basic,.basic2{
    color:#00b3ff;
}

.basic1{
    color:white;
}

.border,.border2{
    border:1px solid rgba(211,211,211,.6);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: 20px;
    position: relative;
    left:95px;
}

.border1{
    background-color: white;
    border:1px solid #00b3ff;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: 20px;
    position: relative;
    left:95px;
}

.price{
    position: absolute;
    top:100px;
    right:115px;
    text-align: center;
    color:grey;
}

.pl{
    text-transform: uppercase;
}

.money{
    font-size: 30px;
}

.title1{
    text-transform: uppercase;
    margin-top: 50px;
    margin-left: 20px;
    padding: 40px;
}

.title1:after{
    content: "";
    height: 10px;
    border-bottom:8px solid #00b3ff;
    position: absolute;
    width: 300px;
    top:70px;
    left:60px;
}

.square{
    width:298px;
    height: 40px;
    border:1px solid white;
    margin-left: 0;
    background-color: rgba(211,211,211,.4);
    position: relative;
    margin-top: 20px;
}

.buy{
    position: absolute;
    bottom:205px;
    right: 50px;
    font-size: 23px;
}

.service{
    position: absolute;
    font-size: 23px;
    bottom: 165px;
    right: 120px;
}

.square_plus{
    width:298px;
    height: 40px;
    border:1px solid white;
    margin-left: 0;
    background-color:white;
    position: relative;
    margin-top: 20px;
}

.square_plus_six{
    width:298px;
    height: 40px;
    border:1px solid white;
    margin-left: 0;
    background-color:rgba(211,211,211,.4);
    position: relative;
}

.square_one{
    width:298px;
    height:40px;
    border:1px solid white;
    margin-left: 0;
    background-color: rgba(211,211,211,.2);
    position: relative;
}

.square_plus1{
    width:298px;
    height: 40px;
    border:1px solid white;
    margin-left: 0;
    background-color: white;
    position: relative;
}

.gwarantion{
    position: absolute;
    bottom:125px;
    right: 70px;
    font-size: 23px;
}

.ask{
    font-size: 23px;
    bottom:87px;
    right:60px;
    position: absolute;
}

.square1,.square1_plus{
    width: 110px;
    height: 40px;
    background-color: #00b3ff;
    border-radius: 10%;
}

.square1{
    margin-top: 20px;
}

.square1_plus{
    margin-top: 100px;
}

.square1_{
    width: 110px;
    height: 40px;
    background-color:white;
    margin-top: 60px;
    border-radius: 10%;
}

.square1,.square1_,.square1_plus{
    position: relative;
    left:100px;
}

.more_more,.more_more1{
    text-transform: uppercase;
    bottom:30px;
    left: 120px;
    position: absolute;
}

.more_more1{
    color:#00b3ff;
}

.more_more{
    color:white;
}

.flex{
    display: flex;
}

form{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-top: 30px;
}

.over{
    display: flex;
    flex-direction:column;
}

.nam,.mail{
    height: 60px;
    width: 600px;
    margin-left: 60px;
    border:1px solid #00b3ff;
}

.answer{
    height: 160px;
    width: 600px;
    margin-left: 60px;
    margin-top: 30px;
    border:1px solid deepskyblue;
    margin-bottom: 40px;
}

.mail{
    margin-top: 30px;
}

.nam{
    margin-top: 20px;
}

.contakt{
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: 60px;
}

.check{
    font-size: 20px;
    text-align: left;
}

.send{
    width: 300px;
    height: 60px;
    background-color: #00b3ff;
    color: white;
    border-radius: 5%;
    position: relative;
    top: 60px;
    right: 20px;
}

.last{
    display: flex;
    justify-content: space-around;
}

.send_send{
    font-size: 28px;
    text-transform: uppercase;
    position: absolute;
    bottom:15px;
    right: 100px;
}
.one{
    display: flex;
}

.copy{
    text-decoration: none;
    margin-left: 40px;
    color: grey;
    padding: 20px;
}

.logo{
    padding: 10px;
    margin-left: 350px;
}

.sit{
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    padding: 20px;
    margin-left: 30px;
}

.contakt:after{
    content: "";
    height: 10px;
    border-bottom:8px solid #00b3ff;
    position: absolute;
    width: 300px;
    top:20px;
    left:60px;
}
