
@font-face {
    font-family: 'ralewayitalic';
    src: url('raleway-italic-webfont.woff2') format('woff2'),
    url('raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold-webfont.woff2') format('woff2'),
    url('raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

.container{
    width:1200px;
    margin:0 auto;
    border: 1px solid red;
}

header{
    background-color: black;
    color: white;
}

.menu{
    display: flex;
    justify-content: space-between;
    font-family:'ralewayitalic';
    text-transform: uppercase;
    font-size: 15px;
}

.word{
    color:#00b3ff;
}

li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}

article{
    margin-top: 15px;
}

section{
    background-color: #eeeeee;
    position: relative;
    padding: 30px;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

.blue{
    color:#00b3ff;
    margin: 5px;
}

.text{
    display: flex;
    justify-content: space-around;

}

.text1{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 160px;
    align-items: center;
    margin-right: 200px;
    margin-top: 30px;
    position: relative;
}


.sign{
    font-size: 110px;
    color: #00b3ff;
    font-weight: bold;
    position: absolute;
    top: 100px;
}

.sign1{
    font-size: 110px;
    color: #00b3ff;
    font-weight: bold;
    position: absolute;
    right: 140px;
    bottom: 160px;
}

.more{
    background-color: #00b3ff;
    width:180px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    position: absolute;
    top: 190px;
}

a{
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    top: 15px;
    font-size: 20px;

}
