
@font-face {
    font-family: 'ralewayitalic';
    src: url('raleway-italic-webfont.woff2') format('woff2'),
    url('raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold-webfont.woff2') format('woff2'),
    url('raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.container{
    width:1200px;
    margin:0 auto;
    border: 1px solid red;
}
/* nagłówek */

header{
    background-color: black;
    color: white;
    /*height: 150px;*/
}

article{
    text-transform: uppercase;
}

.menu_link{
    text-decoration: none;
    display: block;
    color:white;
    margin: 10px;
    text-transform: uppercase;
}

.menu_list{
    list-style: none;
}

.menu_list_item{
    display: inline-block;
    position: relative;
    margin: 0 20px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.word{
    color:#00b3ff;
}

.nav_link{
    text-decoration: none;
    color: white;
}

.nav_list{
    list-style: none;
    position: absolute;
    border: 1px solid black;
    background-color: black;
    z-index: 2;

    display: none;
}

.nav_list_item{
    margin:10px;
}

.menu_list_item:hover > .nav_list{
    display: block;
}

/*sekcja 1*/

.black_chair{
    background-color: #eeeeee;
}


.text{
    display: flex;
    align-items: center;
    padding: 20px;
}

.text_picture{
    width: 40%;
}

.title{
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 30px;
}

.blue{
    color:#00b3ff;
}
.text_content{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px;
}

.lorem{
    text-align: center;
}

.more{
    border:1px solid #00b3ff;
    background-color: #00b3ff;
    color:white;
    text-align: center;
    text-decoration: none;
    width: 220px;
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
    display: flex;
    align-self: center;
    margin-top:30px;
}

.sign{
    font-size: 90px;
    color: #00b3ff;
    font-weight: bold;
    position: absolute;
    top:150px;
}

.sign1{
    font-size: 90px;
    color: #00b3ff;
    font-weight: bold;
    position: absolute;
    right:80px;
    top: 160px;
}

.two{
    display: flex;
    flex-direction: column;
}

.picture1{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}


.find{
    width: 350px;
    border:1px solid lightgray;
    padding: 20px;
    position: relative;
    margin-top: 20px;
    height: 250px;
}

.child .child1{
    margin-bottom: 50px;
}

.words1{
    margin-top:25px;
}

.words{
    margin-top: 25px;
}
.child_name{
    width: 330px;
    height: 50px;
    background-color: rgba(220,220,220,.6);
    bottom:60px;
    position: absolute;
}

.picture_chair{
    position: relative;
    margin-top: 20px;
}

.first_chair{
    color:black;
    text-decoration: none;
    margin-left: 10px;
    font-size: 15px;
    font-family: 'ralewaybold';
    font-weight: bold;
}
.first_chair:after{
    content: "";
    height: 10px;
    border-bottom:8px solid #00b3ff;
    position: absolute;
    top:10px;
    width: 150px;
    left: 0;
    margin-left: 10px;
}

.child_chair1{
    color:black;
    text-decoration: none;
    margin-left: 10px;
    font-size: 15px;
    font-family: 'ralewaybold';
    font-weight: bold;
}

.child_chair1:after{
    content: "";
    height: 10px;
    border-bottom:8px solid #00b3ff;
    position: absolute;
    top:10px;
    width: 150px;
    left: 0;
    margin-left: 10px;
}

.chair_child{
    position: relative;
    margin-top: 20px;

}

.child_chair{
    position: absolute;
    width: 330px;
    height: 50px;
    background-color: rgba(220,220,220,.6);
    bottom:60px;
}

h3:after{
    content: "";
    height: 10px;
    border-bottom:8px solid #00b3ff;
    position: absolute;
    top:40px;
    width: 150px;
    left: 0;
    margin-left: 20px;
}

h3{
    margin-top: 10px;
}
